
@{
    Layout = null;
    ViewBag.Title = "Login";
}


    <html>
    <head>
        <style>
            body {
                background-image: url('https://images8.alphacoders.com/909/909831.jpg');
                background-size: contain;
            }
            .link {
                width: 300px;
                height: 100px;
                background-color: cornflowerblue;
                margin: auto;
                position: absolute;
                top: 400px;
                left: 670px;
                background-color: burlywood;
                border-color: burlywood;
                color: cornsilk;
                border-radius: 5px;
            }
            .link2 {
                width: 300px;
                height: 100px;
                background-color: cornflowerblue;
                margin: auto;
                position: absolute;
                top: 200px;
                left: 670px;
                background-color:burlywood;
                border-color:burlywood;
                color:cornsilk;
                border-radius:5px;
              
            }
            .link3 {
                width: 300px;
                height: 100px;
                background-color: cornflowerblue;
                margin: auto;
                position: absolute;
                top: 600px;
                left: 670px;
                background-color: burlywood;
                border-color: burlywood;
                color: cornsilk;
                border-radius: 5px;
            }
            .hd{
                position:absolute;
                top:75px;
                color:bisque;
                left:450px;
            }
            
        </style>
    </head>
    <body>
        <h1 class="hd">ADANA ATÜ EV YEMEKLERİNE HOŞGELDİNİZ!</h1>
        <center>
            <table>
                <tr>
                    <td>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="/admin/Index" class="btn link" style="text-align: center; padding-top: 45px; font-size:22px">Admin Girişi</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="/User/Index" class="btn link2" style="text-align: center; padding-top: 45px; font-size: 22px ">Kullanıcı Girişi</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="/Kurye/Index" class="btn link3" style="text-align: center; padding-top: 45px; font-size:22px">Kurye Girişi</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
