<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sipariş Onay Sayfası</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-ka7SkGln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0o/nohqKAQy2ChNApcfpA==" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Sipariş Onay Sayfası</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center mt-5">Tebrikler! Siparişiniz Onaylandı!</h1>
                    <p class="text-center mt-5">Sipariş numaranız: <b>{{order_id}}</b></p>
                    <p class="text-center mt-5">Siparişiniz en kısa sürede kargoya verilecektir.</p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>2023 &copy; Tüm Hakları Saklıdır</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            // Tebrikler mesajı animasyonu
            $("#tebrikler").fadeIn(1000);
        });
    </script>
</body>
</html>