
<html>
<head>
    <link href="~/Scripts/Css/AddCartButtonCss.css" rel="stylesheet" />
</head>
<body>
    <button class="button" style="background-color:#680747" onclick="return add(@Session["id"])">
        <span>Sepete Ekle</span>
        <div class="cart">
            <svg viewBox="0 0 36 26">
                <polyline points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"></polyline>
                <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
            </svg>
        </div>
    </button>
</body>
</html>
<script>
    document.querySelectorAll('.button').forEach(button => button.addEventListener('click', e => {
        if (!button.classList.contains('loading')) {

            button.classList.add('loading');

            setTimeout(() => button.classList.remove('loading'), 3700);

        }
        e.preventDefault();
    }));

</script>
