<head>
    <link rel="stylesheet" href="~/Scripts/Css/OrderAcceptedCss.css" />
</head>
<body>
    <img src="~/Resimler/kuryeOrder.png" style="width:30%; position:relative; top:200px; left:500px;" />
    <div class="loader" style="position:relative; top:200px; left:500px;width:30%"></div>
</body>
