html {
    font-size: 15px
}

body {
    background: #a7bcb9;
    color: black;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}

h1.page_title {
    position: fixed;
    color: #fff;
}

h4.what_to_do {
    position: fixed;
    color: #fff;
}

h2.menu_title {
    color: #fff;
}

.page_title,
.what_to_do {
    font-weight: 300;
    line-height: 120%;
    text-align: center;
    text-shadow: 0 1px 5px rgba(0,0,0,.8);
    text-transform: uppercase;
}

/* PEN STYLES ========== */
a,
.side_menu {
    text-align: center;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

/* MENU CONTAINER ----- */
.side_menu {
    position: fixed;
    background: #76777c;
    position: fixed;
    height: 100vh;
    left: -250px;
    top: 0;
    width: 250px;
}

    .side_menu .container {
        position: fixed;
        padding: 0 1em;
    }

/* HAMBURGER STYLES ----- */
.burger_box {
    display: block;
    float: right;
}

    .burger_box a.menu-icon {
        position: fixed;
        display: inline-block;
        float: none;
        height: 43px;
        padding: 10px;
        opacity: .5;
        width: 45px;
        z-index: 100;
    }

        .burger_box a.menu-icon:hover,
        .burger_box a.menu-icon.opened {
            opacity: 1;
        }

        .burger_box a.menu-icon.opened {
            background: #76777c;
        }

    .burger_box .menu-icon_box {
        position: fixed;
        display: inline-block;
        height: 25px;
        position: relative;
        text-align: left;
        width: 25px;
    }

    .burger_box .menu-icon_line {
        position: fixed;
        background: #fff;
        border-radius: 2px;
        display: inline-block;
        height: 3px;
        position: absolute;
        width: 100%;
    }

    .burger_box .menu-icon_line--1 {
        top: 2px;
    }

    .burger_box .menu-icon_line--2 {
        top: 10px;
    }

    .burger_box .menu-icon_line--3 {
        top: 18px;
    }

    .burger_box .menu-icon_line--1 {
        transition: top 200ms 250ms, transform 200ms;
        -webkit-transition: top 200ms 250ms, -webkit-transform 200ms;
    }

    .burger_box .menu-icon_line--2 {
        transition: opacity 0ms 300ms;
        -webkit-transition: opacity 0ms 300ms;
    }

    .burger_box .menu-icon_line--3 {
        transition: top 100ms 300ms, transform 200ms;
        -webkit-transition: top 100ms 300ms, -webkit-transform 200ms;
    }

    .burger_box .menu-icon.opened .menu-icon_box {
        transform: scale3d(0.9, 0.9, 0.9);
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
    }

    .burger_box .menu-icon.opened .menu-icon_line {
        top: 10px;
    }

    .burger_box .menu-icon.opened .menu-icon_line--1 {
        transform: rotate3d(0, 0, 1, 45deg);
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transition: top 100ms, transform 200ms 250ms;
        -webkit-transition: top 100ms, -webkit-transform 200ms 250ms;
    }

    .burger_box .menu-icon.opened .menu-icon_line--2 {
        opacity: 0;
        transition: opacity 200ms;
        -webkit-transition: opacity 200ms;
    }

    .burger_box .menu-icon.opened .menu-icon_line--3 {
        transform: rotate3d(0, 0, 1, -45deg);
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transition: top 200ms, transform 200ms 250ms;
        -webkit-transition: top 200ms, -webkit-transform 200ms 250ms;
    }

/* STAGGER LIST ----- */
.list_load {
    position: fixed;
    display: none;
    list-style: none;
    padding: 0;
}

.list_item {
    margin-left: -20px;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .list_item a {
        color: #fff;
        display: block;
        padding: 5px 10px;
        text-decoration: none;
    }

        .list_item a:hover {
            background: rgba(255,255,255,.2);
        }

body {
}
